<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="MySql.Data" version="8.0.19" targetFramework="net461" />
  <package id="RepoDb" version="1.10.11" targetFramework="net461" />
  <package id="RepoDb.MySql" version="1.0.9" targetFramework="net461" />
  <package id="SqlKata" version="1.1.7" targetFramework="net461" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net461" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net461" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.TypeExtensions" version="4.4.0" targetFramework="net461" />
</packages>